<% include ../head.ejs %>
<div class="container">

    <% if (incompleteRequests && incompleteRequests.length){ %>
    <h3>Incomplete Requests</h3>

    <input type="text" id="search-all-requests">

    <table class="table table-hover data-table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Last modified</th>
            <th scope="col">Created by</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        <% incompleteRequests.map(function (request) { %>
        <tr>
            <th scope="row"><a style="text-transform: uppercase;"
                               href="/request/<%- request.id %>"><%- request.janCode %></a></th>
            <td><%- request.humanDate() %></td>
            <td><%- request.modifiedHumanDate() %></td>
            <td><a href="/user/<%- request.createdBy %>"><%- request.getCreatedByName() %></a></td>
            <td>
                <a href="/user/<%- request.assignedTo %>"><%- request.getAssignedToName() || 'unassigned' %> </a>
            </td>
            <td><%- request.status %></td>
        </tr>
        <% }); %>

        </tbody>
    </table>

    <% } %>

    <hr>

    <% if (completedRequests && completedRequests.length){ %>
    <h3>Complete Requests</h3>
    <table class="table table-hover data-table">
        <thead>
        <tr>

            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Last modified</th>
            <th scope="col">Created by</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        <% completedRequests.map(function (request) { %>
        <tr>
            <th scope="row"><a style="text-transform: uppercase;"
                               href="/request/<%- request.id %>"><%- request.janCode %></a></th>
            <td><%- request.humanDate() %></td>
            <td><%- request.modifiedHumanDate() %></td>
            <td><a href="/user/<%- request.createdBy %>"><%- request.getCreatedByName() %></a></td>
            <td>
                <a href="/user/<%- request.assignedTo %>"><%- request.getAssignedToName() || 'unassigned' %> </a>
            </td>
            <td><%- request.status %></td>
        </tr>
        <% }); %>

        </tbody>
    </table>

    <% } %>
</div>

<% include ../foot.ejs %>