<% include ../head.ejs %>

<div class="container">

    <% if(incompleteRequests && incompleteRequests.length){ %>
    <h2>Incomplete</h2>
    <div class="row">
        <% incompleteRequests.map(function(ucr){ %>
        <div class="col-sm-4">
            <div class="tile center">
                <h4><a href="/request/<%- ucr.id %>"><%- ucr.janCode %></a></h4>
                <br>
                <span>Created by: <a href="/user/<%- ucr.createdBy %>"><%- ucr.createdBy %></a></span>
                <br>
                <span>Assigned to: <a
                            href="/user/<%- ucr.assignedTo || 'unassigned' %>"><%- ucr.assignedTo || 'unassigned' %></a></span>
            </div>
        </div>
        <% }); %>
    </div>
    <hr>
    <% } %>

    <% if(samplesFinished && samplesFinished.length) { %>
    <h3>Samples Finished</h3>

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Created by</th>
            <th>Assigned to</th>
        </tr>

        <% samplesFinished.map(function(sf){ %>

        <% console.log('here', sf) %>
        <tr>
            <td><a href="/request/<%- sf.id %>"><%- sf.janCode %></a></td>
            <td><a href="/user/<%- sf.createdBy %>"><%- sf.createdBy %></a></td>
            <td><a href="/user/<%- sf.assignedTo || 'unassigned' %>"><%- sf.assignedTo || 'unassigned' %></a></td>
        </tr>
        <% }); %>

    </table>

    <hr>
    <% } %>

    <% if(completedRequests && completedRequests.length){ %>
    <h3>Completed Requests</h3>

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Created by</th>
            <th>Assigned to</th>
        </tr>

        <% completedRequests.map(function(cr){ %>
        <tr>
            <td><a href="/request/<%- cr.id %>"><%- cr.janCode %></a></td>
            <td><a href="/user/<%- cr.createdBy %>"><%- cr.createdBy %></a></td>
            <td><a href="/user/<%- cr.assignedTo || 'unassigned' %>"><%- cr.assignedTo || 'unassigned' %></a></td>
        </tr>
        <% }); %>

    </table>

    <% } %>

    <% if (incompleteRequests && !incompleteRequests.length && completedRequests && !completedRequests.length && samplesFinished && !samplesFinished.length) { %>

    <h2>No requests submitted yet.</h2>

    <% } %>

</div>


<% include ../foot.ejs %>