<% include ../head.ejs %>
<link href="/css/print.css" rel="stylesheet">

<div class="container">

    <h1 class="center"><%- request.janCode %></h1>

    <h2><%- request.yanCode %></h2>
    <span>Created by: <a href="/user/<%- request.createdBy %>"><%- request.createdBy %></a></span>
    <input type="hidden" id="id" name="id" value="<%- request.id %>">

    <div class="row hidden-print">
        <div class="col-sm-12 print-wide">
            <div class="form-group">

                <% if(locals.signedInUser.isAdmin){ %>
                <div class="form-group">
                    <label>Assigned to:</label>
                    <select id="assign-select">
                        <option value="unassigned">unassigned</option>
                        <% admins.map(function(admin){ %>
                        <option value="<%- admin %>" <% if(admin == request.assignedTo){ %>selected
                                <% } %>
                        ><%- admin %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="form-group">
                    <label>Set status:</label>
                    <select id="completion-selection" value="<%- request.status %>">
                        <option
                                <% if (request.status == 'incomplete') { %>
                                selected
                                <% } %>
                        >incomplete
                        </option>
                        <option
                                <% if (request.status == 'samples finished') { %>
                                selected
                                <% } %>
                        >samples finished
                        </option>
                        <option
                                <% if (request.status == 'complete')  { %>
                                selected
                                <% } %>
                        >complete
                        </option>
                    </select>
                </div>
                <% } %>

                <% if(!request.assignedTo || locals.signedInUser.isAdmin){ %>
                <a href="/request/<%- request.id %>/edit" class="btn btn-primary btn-tiny">Edit</a>
                <a href="/request/<%- request.id %>/delete"
                   class="btn btn-danger btn-tiny pull-right areyousure">Delete</a>
                <% } %>
                <a href="/request/<%- request.id %>/clone" class="btn btn-success btn-tiny">Clone</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 print-wide">
            <div class="tile">
                <h3>Biological Materia</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Species</th>
                        <td><%- request.species %></td>
                    </tr>
                    <tr>
                        <th scope="row">Second Species</th>
                        <td><%- request.secondSpecies %></td>
                    </tr>
                    <tr>
                        <th scope="row">Tissue</th>
                        <td><%- request.tissue %></td>
                    </tr>
                    <tr>
                        <th scope="row">Age</th>
                        <td><%- request.tissueAgeNum %> <%- request.tissueAgeType %></td>
                    </tr>
                    <tr>
                        <th scope="row">Growth Conditions</th>
                        <td><%- request.growthConditions %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tile">
                <h3>Primary Analysis</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Type of Analysis</th>
                        <td><%- request.analysisType %></td>
                    </tr>
                    <tr>
                        <th scope="row">Secondary Type of Analysis</th>
                        <td><%- request.secondaryAnalysisType %></td>
                    </tr>
                    <tr>
                        <th scope="row">Type of PTM</th>
                        <td><%- request.typeOfPTM %></td>
                    </tr>
                    <tr>
                        <th scope="row">Quantitative Analysis Required</th>
                        <td><%- request.quantitativeAnalysisRequired %></td>
                    </tr>
                    <tr>
                        <th scope="row">Type of Labeling</th>
                        <td><%- request.typeOfLabeling %></td>
                    </tr>
                    <tr>
                        <th scope="row">Label Used</th>
                        <td><%- request.labelUsed %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6 print-wide">
            <div class="tile">
                <h3>Project Summary</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Project Description</th>
                        <td><%- request.projectDescription %></td>
                    </tr>
                    <tr>
                        <th scope="row">Hoped Analysis</th>
                        <td><%- request.hopedAnalysis %></td>
                    </tr>
                    <tr>
                        <th scope="row">Buffer Composition</th>
                        <td><%- request.bufferComposition %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tile">
                <h3>Sample Preparation</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Sample Prep</th>
                        <td><%- request.samplePrep %></td>
                    </tr>
                    <tr>
                        <th scope="row">Digestion</th>
                        <td><%- request.digestion %></td>
                    </tr>
                    <tr>
                        <th scope="row">Enzyme</th>
                        <td><%- request.enzyme %></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tile">
                <h3>New Constructs for Database</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Accession</th>
                        <th>Sequence Info</th>
                        <th>DB Entry</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% request.constructs.map(function(construct){ %>
                    <tr>
                        <td><%- construct.accession %></td>
                        <td><%- construct.sequenceInfo %></td>
                        <td><%- construct.dbEntry %></td>
                    </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="tile">
        <h3>Supporting Images</h3>
        <div class="row">

            <% request.supportingImages.map(function(img){ %>
            <div class="col-md-6">
                <img class="preview-img" src="<%- img.getURL() %>">
                <br>
                <label><%- img.description %></label>
            </div>
            <% }); %>
        </div>
    </div>


    <div class="tile">
        <h3>Sample Description</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Sample Number</th>
                <th>Sample Label</th>
                <th>Sample Description</th>
            </tr>
            </thead>
            <tbody>
            <% request.samples.sort(function (a, b) {
                return a.position - b.position;
            }).map(function(sd){ %>

            <tr>
                <td><%- sd.sampleNumber %></td>
                <td><%- sd.sampleLabel %></td>
                <td><%- sd.sampleDescription %></td>
            </tr>

            <% }); %>
            </tbody>
        </table>
    </div>

    <div class="tile">
        <h3>Notes</h3>

        <ul id="notes">
            <% request.notes.map(function(note){ %>
            <li><%- note %></li>
            <% }); %>

        </ul>

        <div class="form-group">
            <textarea class="form-control" id="new-note" rows="5"></textarea>
            <button id="notes-button" class="btn btn-success">Add Note</button>
        </div>
    </div>


</div>
<% include ../foot.ejs %>