<% include ../head.ejs %>

<div class="container">

    <div class="row">

        <% requests.map(function (request) { %>

        <div class="col-sm-4">
            <div class="tile center">
                <h4><a href="/request/<%- request.id %>"><%- request.janCode %></a></h4>
                <br>
                <span>Created by: <a href="/user/<%- request.createdBy %>"><%- request.createdBy %></a></span>
                <br>
                <span>Assigned to: <a
                            href="/user/<%- request.assignedTo %>"><%- request.assignedTo | 'unassigned' %> </a></span>
                <br>
                <span>Status: <%- request.getStatus() %></span>
                <hr>
                <a href="/request/<%- request.id %>/edit" class="btn btn-tiny btn-primary">Edit</a>
                <a href="/request/<%- request.id %>/clone" class="btn btn-tiny btn-success">Clone</a>
            </div>
        </div>

        <% }) %>
    </div>
</div>


<% include ../foot.ejs %>